/* color patterns 
EAEBED
006989
A3BAC3
007090
01A7C2
*/

body {
    background-color: #006989;
}

.container {
    background-color: #EAEBED;
}

.option, #username {
    background-color: #A3BAC3;
    margin: 2rem;
    padding: 1rem;
}

span, label {
    font-size: 1.25rem;
}

.form-select {
    font-size: 1.1rem;
}


.btn-primary, :focus.btn-primary, :hover.btn-primary {
    background-color: #007090;
    border-color: #007090;
}

.btn-danger, :hover.btn-danger {
    background-color: #01A7C2;
    border-color: #007090;
}

:focus.btn-danger {
    background-color: #01A7C2;
    border-color: #007090;
    box-shadow: 0 0 0 0.25rem #4d768181;
}

#questionText {
    padding-top: 2rem;
    padding-bottom: 5rem;
    height: 6rem;
    font-size: 1.5rem;
    background-color: #A3BAC3;
}